.angry{
    background: url(../emojis/angry.png);
}
.beaming{
    background: url(../emojis/beaming.png);
}
.chillin{
    background: url(../emojis/chillin.png);
}
.crying{
    background: url(../emojis/crying.png);
}
.disappointed{
    background: url(../emojis/disappointed.png);
}
.happy{
    background: url(../emojis/happy.png);
}
.livid{
    background: url(../emojis/livid.png);
}
.neutral{
    background: url(../emojis/neutral.png);
}
.sad{
    background: url(../emojis/sad.png);
}
.surprised{
    background: url(../emojis/surprised.png);
}
.worried{
    background: url(../emojis/worried.png);
}