/*Tag Icons*/
.running{
    background: url(../icons/tags/white_running.png);
}
.dating{
    background: url(../icons/tags/white_date.png);
}
.gaming{
    background: url(../icons/tags/white_gaming.png);
}
.book{
    background: url(../icons/tags/white_gaming.png);
}
.food{
    background: url(../icons/tags/white_food.png);
}
.school{
    background: url(../icons/tags/white_school.png);
}
.family{
    background: url(../icons/tags/white_family.png);
}
.friends{
    background: url(../icons/tags/white_friends.png);
}