body{
    font-family: 'Montserrat';
}
main{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 16px;
}
h1{
    font-size: 36px;
    font-weight: semi-bold;
}
h2{
    font-size: 28px;
    font-weight: medium;
}
h3{
    font-size: 24px;
}
p{
    font-size: 16px;
}
button{
    padding: 16px;
    font-size: 16px;
    font-weight: medium;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.5));
    transition: 300ms;
    color: #F4F4F4;
}
nav{
    position: fixed;
    float: left;
    z-index: 100;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 0;
    height: 100vh;
}
nav li{
    display: block;
    width: 48px;
    height: 24px;
    margin: 24px 0;
    padding: 0;
}
nav li:hover{
    cursor: pointer;
}
textarea{
    resize: none;
}

.row{
    margin-bottom: 16px;
    gap: 16px;
}
.icon{
    display: block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.emoji{
    display: block;
    width: 48px;
    height: 48px;
}
.tag{
    display: flex;
    flex-direction: row;
    flex-basis: content;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
}
.tag:hover{
    cursor: pointer;
}
.tag-icon{
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
.tag-name{
    margin-right: 5px;
}
.mood-ranking-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 16px;
}
.mood-ranking{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}
.mood-ranking-bar{
    display: block;
    width: 48px;
}
.graph{
    display: block;
    margin: 0 auto;
    width: 670px;
    height: 468px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.month-view{
    width: 100%;
    margin-top: 64px;
    background: url(../images/Graph_1month.png);
}
.quarterly-view{
    width: 100%;
    margin-top: 64px;
    background: url(../images/Graph_3month.png);
}
.half-year-view{
    width: 100%;
    margin-top: 64px;
    background: url(../images/Graph_6month.png);
}
.full-year-view{
    width: 100%;
    margin-top: 64px;
    background: url(../images/Graph_1year.png);
}
.notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}
.note-card{
    display: block;
    width: 220px;
    border-radius: 5px;
    padding: 16px;
    color: #F4F4F4;
}
.note-content{
    max-height: 240px;
    overflow-y: scroll;
}
.correlation-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}
.correlation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.entry-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
}
.past-entry{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 16px;
    color: #F4F4F4;
}
.entry-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.new-entry{
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
}
.setting{
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.scheduled-reminder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 16px;
}
.dropdown-menu{
    z-index: 101;
}
.dropdown-item:hover{
    cursor: pointer;
}
.custom-dropdown.show{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    gap: 16px;
    padding: 16px;
}
.form-check-input:hover{
    cursor: pointer;
}
.modal-body{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.mood-input{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.range-hint{
    text-align: center;
}

/*Theme Swatches*/
.theme-swatch{
    display: inline-block;
    width: 24px;
    height: 24px;
}
.light-blue{
    background: #F8FCFF;
}
.dark-blue{
    background: #2C3853;
}
.accent-blue{
    background: #83A4CB;
}
.medium-blue{
    background: #5175A0;
}
.highlight-blue{
    background: #CCDEF2;
}
.light-green{
    background: #FCFFF4;
}
.dark-green{
    background: #424B26;
}
.accent-green{
    background: #B0C66B;
}
.medium-green{
    background: #7E933E;
}
.highlight-green{
    background: #DEEEAC;
}
.light-orange{
    background: #FCF2EC;
}
.dark-orange{
    background: #D94F01;
}
.accent-orange{
    background: #FAA475;
}
.medium-orange{
    background: #DF6C2C;
}
.highlight-orange{
    background: #FED8C3;
}
.light-purple{
    background: #FDF6FF;
}
.dark-purple{
    background: #653277;
}
.accent-purple{
    background: #E7ADFC;
}
.medium-purple{
    background: #9B5CB1;
}
.highlight-purple{
    background: #F6DDFF;
}

#homeGraph{
    display: block;
    margin: 0 auto;
}
#moodRanking1{
    height: 52px;
}
#moodRanking2{
    height: 48px;
}
#moodRanking3{
    height: 16px;
}
#tagInput{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}
#moodSelectorDropdown{
    text-align: center;
}
#sleepTimeSelector{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}
#moodIntensity{
    display: block;
    width: 320px;
}
#submitEntryButton{
    display: block;
    float: right;
}
#profilePicture{
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    width: 96px;
    height: 96px;
}
#user{
    text-align: center;
}
#joinDate{
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 50px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.notes .note-content{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media only screen and (width<576px){
    nav{
        float: none;
        bottom: 0;
        position: fixed;
        width: 100vw;
    }
    nav ul{
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        margin: 0;
    }
    nav li{
        height: 48px;
        margin: 0;
    }
    nav li:nth-child(1){
        order: 1;
    }
    nav li:nth-child(2){
        order: 2;
    }
    nav li:nth-child(3){
        order: 4;
    }
    nav li:nth-child(4){
        order: 5;
    }
    nav li:nth-child(5){
        order: 3;
    }

    .graph{
        width: 335px;
        height: 234px;
    }
    .notes{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .note-content{
        max-height: 180px;
        overflow-y: scroll;
    }
    .new-entry{
        position: absolute;
        top: -24px;
    }

    .modal-content{
        width: 100%;
        height: 100%;
    }
}