button{
  background: #83A4CB;
}
button:hover{
  background: #83a4cb;
  stroke: #5175a0;
}
nav{
  background-color: #2C3853;
}
nav li:hover{
  color: white;
}
.tag{
  background: #2c3853;
  color: white;
}
.note-card{
  background: #5175a0;
}
.past-entry{
  background: #ccdef2;
}