button {
  background: #e7adfc;
}
button:hover {
  background: #e7adfc;
  stroke: #653277;
}
nav {
  background-color: #653277;
}
nav li:hover {
  color: white;
}
.tag {
  background: #653277;
  color: white;
}
.note-card {
  background: #9b5cb1;
}
.past-entry {
  background: #f6ddff;
}