button{
    background: #b0c66b;
}
button:hover{
    background: #b0c66b;
    stroke: 1px #424b26;
}
nav{
    background-color: #424b26;
}
nav li:hover{
    color: white;
}
.tag{
    background: #424b26;
    color: white;
}
.note-card{
    background: #7e933e;
    color: white;
}