button{
    background: #d94f01;
}
button:hover{
    background: #faa475;
    stroke: 1px #d94f01;
}
nav{
    background-color: #d94f01;
}
nav li:hover{
    color: white;
}
.tag{
    background: #d94f01;
    color: white;
}
.note-card{
    background: #df6c2c;
    color: white;
}
.past-entry{
    background: #fed8c3;
}