button{
  background: #5175a0;
  color: #F4F4F4;
}
button:hover{
  background: #83a4cb;
}
nav{
  background-color: #2C3853;
}
nav li:hover{
  color: #F4F4F4;
}
.tag{
  background: #2c3853;
  color: #F4F4F4;
}
.tag:hover{
  background: #83A4CB;
  cursor: pointer;
}
.tag.active{
  background: #5175a0;
  border: 1px solid #F4F4F4;
}
.tag.active:hover{
  background: #83A4CB;
}
.tag.disabled{
  background: #2c3853;
  color: #F4F4F4;
}
.tag.disabled:hover{
  background: #2c3853;
  cursor: default;
}
.mood-ranking-bar{
  background: #5175a0;
}
.note-card{
  background: #5175a0;
}
.past-entry{
  background: #5175a0;
}
.btn-primary{
  background: #5175a0;
  color: #F4F4F4;
  border-color: #2c3853;
}
.btn-primary:hover{
  background: #83a4cb;
  border-color: #2c3853;
}
.btn-check:checked+.btn-primary{
  background: #5175a0 !important;
  border-color: #83A4CB !important;
}
.btn-primary:not(:disabled):active{
  background: #CCDEF2 !important;
}
.custom-range::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -7px; /* Centers thumb on the track */
  background-color: #5175a0;
  outline: #F4F4F4;
  height: 1.5rem;
  width: 0.5rem;
}
.custom-range::-webkit-slider-thumb:active{
  background-color: #83A4CB;
}
.form-check-input:checked{
  background-color: #5175a0;
  border-color: #5175a0;
}
.form-check-input:focus {
  border-color: #5175a0;
  box-shadow: 0 0 0 0.25rem rgba(81, 117, 160, .25);
}